@model IEnumerable<Web_Task_Manager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Task List</h1>

<p>
    <a class="btn btn-danger" asp-action="Create">Add Task</a>
</p>
<h1>Tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
            <tr>
            <td style="width:65%">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width:35%">
                @Html.ActionLink("Done", "Done", new { id = item.TaskID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Details", "Details", new { id = item.TaskID },new { @class = "btn btn-info" })
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}

    </tbody>

</table>
