@model IEnumerable<Web_Task_Manager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Task List</h1>

<p>
    <a asp-action="Create">Add Task</a>
</p>
<h1>Tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Done", "Done", new { id = item.TaskID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
            </td>
        </tr>
}

    </tbody>

</table>
